<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714049868714-ak0pgaqbilsvdnuufie3rbq251jhdevi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714049868714-ak0pgaqbilsvdnuufie3rbq251jhdevi</string>
	<key>API_KEY</key>
	<string>AIzaSyC82zzjNQnpN60XjMrjAjllAXKbiG0GMJA</string>
	<key>GCM_SENDER_ID</key>
	<string>714049868714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weightTrackerApp</string>
	<key>PROJECT_ID</key>
	<string>weight-tracker-app-ec2ac</string>
	<key>STORAGE_BUCKET</key>
	<string>weight-tracker-app-ec2ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714049868714:ios:e23abceef47b32fc6811d3</string>
</dict>
</plist>